<h1>Vista principal</h1>

<form action="post" action="/api/users">
    <input type="text" placeholder="nombre" name="name"/>
    <br>
    <input type="text" placeholder="apellido" name="lastname"/>
    <br>
    <input type="text" placeholder="dni" name="dni"/>
    <br>
    <button>Crear usuario</button>
</form>